body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #080D16;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}
#title{
    font-size: 3em;
}
.divForm{
    margin: 10px auto;
    border-bottom: 3px solid hsla(0, 0%, 49%, 0.217);
    width: 50%;
}
.form{
    display: inline-block;
    margin-right: 10px;

}
.form  input{
    border: 3px solid #cf9a59;
    border-radius: 5px;
    padding: 15px;
    background-color: #080D16;
    color: rgb(255, 255, 255);
}
#addExpenseButton{
    border: none;
    border-radius: 20px;
    padding: 15px;
    background-color: #cf9a59;
    color: rgb(255, 255, 255);
}
.expenseTable{
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(255,255,255, 0.1);
    overflow: hidden;
    padding: 10px;
    border-spacing: 100px 10px;
}
.expenseTable thead tr{
    background-color: #cf9a59;
    font-weight: bold;
    text-align: left;
}
.expenseTable th,
.expenseTable td{
    padding: 12px 20px;
    text-align: left;
}
.expenseTable tbody tr{
    border-bottom: 1px solid #dddddd;
}
.expenseTable tbody tr:hover{
    background-color: hsl(0, 0%, 38%);
}
.expenseTable tbody tr:nth-of-type(even) {
    background-color: hsl(0, 0%, 10%);
}
.expenseTable tbody tr:nth-of-type(even):hover{
    background-color: hsl(0, 0%, 38%);
}

.expenseTable tbody tr:last-of-type{
    border-bottom: 2px solid #cf9a59;
}
.delButton{
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #cf9a59;
}
.delButton:hover{
    background-color: rgb(255, 0, 0);
}
#total{
    margin: 20px;
    font-size: 1.5em;
    text-decoration: underline;
    text-underline-offset: 0.15em;
}